<launch>

    <!-- Setting arms commanding ros param -->
    <param name="rosi_joy_arms_cmd" type="bool" value="false" />

	<!-- running the joystick node -->
	<node name="joy_node" pkg="joy" type="joy_node" respawn="true" />

	<!-- running the rosi joystick example node -->
	<node name="rosi_joy" pkg="sim_rosi" type="rosi_joy.py" respawn="true"/>

	<!-- rosparam command="load" file="$(find rosi_defy)/config/simulation_parameters.yaml" -->

</launch>
